$color-primary: #e5c701;
$color-primary-light: #f8e673;
$color-secondary: #cdcdcd;
$color-dark: #2c324f;
$color-dark-tone: #363e62;
$color-neutral: #3e3e3e;
$color-neutral-light: #aeaeae;
$color-light: #fff;
$color-accent: #f00;
$color-black: #000;
$color-gradient-light: #020024;
$color-gradient-dark: #284f66;
