.app {
  min-height: 100vh;
  background: linear-gradient(360deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 43%, rgba(40,79,102,1) 100%);
  padding: 20px;
}

.header {
  text-align: center;
}

.logoImg {
  max-width: 300px;
}
