@import '../../styles/main.scss';

.card {
  background-color: $color-light;
  border-radius: $spacing-md;
  box-shadow: 0 0 10px $color-neutral-light;
  margin-bottom: $spacing-md;
  padding: $spacing-md;
  display: flex;
  flex-direction: column;
  height: calc(100% - 40px);
  position: relative;
}

.details {
  display: flex;
  justify-content: space-between;
  padding: $spacing-sm;

  div {
    max-width: 50%;
  }
}

.detailsImage {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.detailsText {
  @extend %p;
  margin-bottom: $spacing-xs;
}

.detailsTitle {
  @extend %p;
  color: $color-dark;
  font-weight: bold;
  margin-bottom: $spacing-xs;
}

.detailsContent {
  color: $color-neutral;
  margin-bottom: $spacing-xs;
}

.img {
  border-radius: 50%;
  width: rem(150);
  height: rem(150);
  box-shadow: 0 0 10px $color-neutral;
}
